<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 

</head>
<body>
    <header id="header">
        <article class="logo">
        <img src="./images/logo-mercado-liebre.svg" alt="logo de Mercado Liebre"></article>
    <form>
        <input type="text" id="buscar" placeholder="Buscar productos, marcas">
        <br>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <article id="desaparecer">
    <p id="barra">Lugar para poner la barra de busqueda</p>
    <p id="comprar-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprár en cuotas y sin tarjetas de crédito</p>
    <p id="msj">Barra de navegación que posea las siguientes opciones:</p>
    <ul type="none" class="lista">
        <li class="titular"><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></a></li>
        <li><a href="">Vender</a></a></li>
        <li><a href="">Ayuda</a></a></li>
    </ul>
    <ul type="none">
        <li><a href="">Creá tu cuenta</a><Yo class="fa-regular fa-id-card"></Yo></li>
        <li><a href="">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i>
        </li>

        <li><a href="">compras</a><i class="fa-solid fa-basket-shopping"></i></li>
    </ul>
    </article>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

    </header>

    <main class="main">
        <h2>Productos</h2>
        <h3 class="titular">Basado en tu última visita</h3>
    <section>
        <article id="box-shadow">
            <section class="imagen"><img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></section>
            <section id="completar">
            <p class="precio"><section id="icono-envio"><i class="fa-solid fa-truck"></i></section>$6.770</p>
            <p class="descuento">40% OFF</p>
            <p class="descripcion">Cafetera Moulinex</p>
            </section>
        </article>  
        <article id="box-shadow">
            <section class="imagen"><img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></section>
            <section id="completar">
            <p class="precio"><section id="icono-envio"><i class="fa-solid fa-truck"></i></section>$230.000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripcion">MacBook Pro 2019</p>
            </section>
        </article>
        <article id="box-shadow">
            <section class="imagen"><img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></section>
            <section id="completar">
            <p class="precio"><section id="icono-envio"><i class="fa-solid fa-truck"></i></section>$70.500</p>
            <p class="descuento">10% OFF</p>
            <p class="descripcion">Samsung Galaxy S10</p>
            </section>
        </article>
        <article id="box-shadow">
            <section class="imagen"><img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></section>
            <section id="completar">
            <p class="precio"><section id="icono-envio"><i class="fa-solid fa-truck"></i></section>$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="descripcion">SmartTv Samsung 43"</p>
            </section>
        </article>
    </section>
    <h3>Ofertas</h3>
    <section>
        <article id="box-shadow">
            <section class="imagen"><img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera"></section>
            <p class="precio"><section id="icono-envio"><i class="fa-solid fa-truck"></i></section>$6.770</p>
            <p class="descuento">40% OFF</p>
            <p class="descripcion">Cafetera Moulinex</p>
        </article>
        <article id="box-shadow">
            <section class="imagen"><img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></section>
            <p class="precio"><section id="icono-envio"><i class="fa-solid fa-truck"></i></section>$230.000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripcion">MacBook Pro 2019</p>
        </article>
        <article id="box-shadow">
            <section class="imagen"><img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung"></section>
            <p class="precio"><section id="icono-envio"><i class="fa-solid fa-truck"></i></section>$70.000</p>
            <p class="descuento">10% OFF</p>
            <p class="descripcion">Samsung Galaxy S10</p>
        </article>
        <article id="box-shadow">
            <section class="imagen"><img src="/images/img-tv-samsung-smart.jpg" alt="imagen SmartTv"></section>
            <p class="precio"><section id="icono-envio"><i class="fa-solid fa-truck"></i></section>$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="descripcion">SmartTv Samsung 43"</p>
        </article>
    </section>
    </main>
    <footer>
        <ul type="none" id="pie">
            <article class="icono2">
            <li i class="fa-sharp fa-solid fa-credit-card"></article>
            <li>Pagá con tarjeta o en efectivo</li>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <article class="icono2"><i class="fa-solid fa-gift"></i></article>
            <li>Envio gratis desde $ 2.500</li>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <article class="icono2"><i class="fa-solid fa-user-shield"></i></article>
            <li>Seguridad, de principio a fin</li>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</p>
            <li>Copyright © 1999-2020 MercadoLiebre S.R.L</li>
        </ul>
    </footer>
</body>
</html>