*{
    box-sizing: border-box;
    border: 0px;
    padding: 1px;
}
/************* HEADER **************/
#header {
        background-color: #EAC926;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        padding: 10px;
        max-width: 100%;
}
#comprar-cuotas{
    text-align: center;
    color: #666;
}
.titular {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 5px;
}
.Lista{
    text-decoration: none;
    padding: 5px;
    color: black;
}
.burger-menu{
    text-align: center;
    margin: auto;
    color: white;
    font-size: 22px;
    background-color: #1259c3;
    width: 5vw;
    height: 5vh;
    padding: 0px;
    border-radius: 20%
}
.logo{
    width: 50%;
}
.nav_bar{
    width: 50%;
}


/************* MAIN ****************/
.body{
    background-color: #ebebeb;
}

.contenedor{
    display: flex;
    padding: 10px;
    background-color: #ebebeb;
}
.IMG-DETALLE{
    width:100%;
    padding: 10px;
    background-color: #ebebeb;
}


.cajaIMG{
    width: 100%;
    border-bottom: solid 0.5px rgb(100, 100, 100);
    padding: 10px;
    background-color: white;
}
img{
    width: 100%;
}

.detallesProducto{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    padding: 1px;
    background-color: white;
}
#precio{
    width: 30%;
    position: relative;
}
#descuento{
    width: 70%;
    color: green;
}

#descripcion{
    margin-left: 5px;
    width: 100%;
    
}
/************ FORMULARIO /Register***************/

.formulario{
    background-color: #ebebeb;
    border: solid 1px black;
    margin: auto;
    text-align: center;
}
.contenedor-formulario{
    border: solid 1px black;
    width: 22%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: auto;
}
#FechaNacimiento{
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}
#PerfilDeUsuario{
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}
#Intereses{
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}
#FotoUsuario{
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}
#botonEnviar-Borrar{
    display: flex;
    justify-content: space-around;
}
#boton-Enviar{
    width: 40%;
    text-align: center;
}
#boton-enviar button{
    width: 100%;
    border: solid 1px transparent;
}
button:hover{
    background-color: #0022AA;
    color: white;
}
#boton-Borrar{
    border: solid 1px black;
    width: 40%;
    text-align: center;
}
/************ FORMULARIO /INGRESAR ****************/
.Main-INGRESA{
    border: solid 1px black;
    background-color: #ebebeb;
}
.Contenedor-INGRESA{
    width: 50%;
    margin: auto;
}
#NombreUsuario-INGRESAR{
    text-align: center;
    padding: 10px;
    width: 100%;
}
#password-INGRESA{
    text-align: center;
    padding: 10px;
    width: 100%;
}
#boton-Enviar-INGRESA{
    text-align: center;
    width: 100%;
    background-color: #1259c3;
    color: white;
    padding: 7px;
    margin: auto;
}


/************ PIE DE PAGINA *****************/
#Pie-De-Pagina{
    text-align: center;
    background-color: white;
    padding: 10px;
}
.Icono-Pie-De-Pagina{
    font-size: 2em;
    color: #1259c3;
    line-height: 10px;
    padding: 10px;
}
#Metodos-Pagos{
    text-align: center;
    margin: auto;
    padding: 10px;
}
#EnvioGratis{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: -190px;
    top: -34px;
}
@media (min-width: 362px){
    h2{
        display: none;
    }
    #Desaparecer-Lista{
        display: none;
    }
    .contenedor{
        flex-direction: column;
        margin: 5px;
        
    }
    #descripcion{
        display: none;
    }
    .IMG-DETALLE{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    #Contenedor-header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap ;
        align-items: center;
    }
    .contenedor-formulario{
        width: 100%;
    }
    #EnvioGratis{
        position: absolute;
        right: -240px;
    }
}
@media (min-width: 762px){
    h2{
        display: block;
    }
    #Desaparecer-Lista{
        display: block;
        
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .IMG-DETALLE{
        width: 50%;
    }
    .contenedor{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        
    }
    #descripcion{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    .logo{
        width: 33%;
    }
    .nav_bar{
        width: 33%;
    }
    #comprar-cuotas{
        width: 33%;
    }
    #Contenedor-header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap ;
        align-items: center;
    }
    .titular{
        font-size: 15px;
    }
    .partir{
        width: 50%;
    }
    li{
        display: inline-block;
    }
    .acomodar-lista{
        width: 45%;
        display: flex;
        justify-content: center;
    }
    .contenedor-formulario{
        width: 50%;
    }
    #EnvioGratis{
        position: absolute;
        right: -220px;
    }
}
@media(min-width: 1000px){
    .IMG-DETALLE{
        width: 25%;
    }
    .contenedor-formulario{
        width: 27%;
    }
    #EnvioGratis{
        position: absolute;
        right: -190px;
    }
    .lista-Pie{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
    }
    .contenedor-Pie-De-Pagina{
        width: 33%;
    }
    #Copyright{
        width: 100%;
        display: block;
        align-items: flex-start;
        text-align: left;
    }
    .Icono-Pie-De-Pagina{
        transition: color 1s;
    }
    .Icono-Pie-De-Pagina:hover{
        color: green;
    }
}